<!-- /components/footer.html -->
<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-col">
      <img src="/assets/images/logo.png" alt="Logo" class="footer-logo">
      <p>
        Comunidad de estudiantes de Ciencias Básicas,<br>
        fomentamos la cooperación académica<br>
        Interuniversitaria.
      </p>
    </div>

    <div class="footer-col">
      <h3>Redes Sociales</h3>
      <p>ridecperu@gmail.com</p>
      <div class="social-icons">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
      </div>
    </div>

    <div class="footer-col">
      <h3>Enlaces rápidos</h3>
      <ul>
        <li><a href="#">Acerca</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Términos & Condiciones</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Ubicación & Contacto</h3>
      <p>2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
      <p>+704-555-0127</p>
    </div>
  </div>
</footer>