<section class="nosotros-section">
  <h2>Misión</h2>
  <p>
    Establecernos como una agrupación formal que busca la participación activa entre investigadores, grupos de investigación
    e instituciones de interés científico con los estudiantes de pre y posgrado de las carreras de ciencias básicas y afines.
  </p>
  <h2>Visión</h2>
  <p>
    Consolidar una red de contactos promoviendo el desarrollo académico y mitigando la deserción del talento en carreras científicas,
    fomentando oportunidades de crecimiento profesional.
  </p>
</section>